$color-main: #95C11F;
$color-main-light: #FFF;
$color-background: $color-main-light;
$color-background-footer: #1D1D1B; 

$color-button-confirm: #E84E0F;
$color-button-confirm-text: $color-main-light;
$color-button-additional: #B2b2b2;
$color-button-additional-text: $color-main-light;
$color-button-disabled: #DADADA;
$color-button-disabled-text: #EDEDED;

$color-text: #4A4A4A;
$color-text-highlight: $color-main;
$color-text-sentence: #4A4A4A;

$color-title-contra: $color-main-light;
$color-title: $color-main;

$color-price-first: #E30613;
$color-price-second: #575757;